.restaurantPage {
    background-color: black;
    color: white;
    height: 100vh;
    margin-left: 15%;
}

.cityName {
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
}

.menuHeader {
    display: flex;
    align-items: flex-end;
}

.addNewDishButton {
    background-color: #780B0B;
    color: white;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
}

.menuList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuTitle {
    padding-right: 20rem;
    text-decoration: underline;
}

.dishList {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 900px;
    border: 1px solid;
    overflow-x: hidden;
    /* margin-left: 10rem; */
}

.myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }